#plotreelogo {
  width: 100px;
  cursor: pointer;
}

#vizcontain {
  min-height: 680px;
}

#dropdownProvinceLink {
  display: none;
}

body {
  overflow-x: hidden;
}

.paTitle {
  display: none;
}

.dwTitle {
  display: none;
}

.applicationWrap {
  overflow-x: hidden;
}

.mobilenav {
  font-size: 11px;
  color: black;
  cursor: pointer;
}

.party_label {
  font-size: 13px;
}

.socicon {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.socicon:hover {
  color: #E53935;
}

.footsocicon {
  color: #FFEB3B;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.footsocicon:hover {
  color: #03A9F4;
}

.footlink {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  color: #FFEB3B;
}

.footlink:hover {
  color: #03A9F4;
}

.footlinkselect {
  color: #FFEB3B;
}

.footelect {
  margin-left: 5px;
}

.footelect:hover {
  margin-left: 10px;
}

#filterdropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
}

#filterdropdown {
  display: none;
}

@media screen and (max-width: 560px) {
  .party_label {
    font-size: 10px;
  }
  .footlink {
    font-size: 12px;
  }
}

.electlink {
  font-size: 14px;
  color: #757575;
  cursor: pointer;
}

.whitenav {
  -webkit-box-shadow: 0 0px 20px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 0px 20px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: 55px;
}

.nav18 {
  border-bottom: 2px solid;
  border-bottom-color: #E0E0E0;
}

#vizcontain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ballot {
  height: 25px;
  width: 25px;
}

.ballothome {
  height: 25px;
  width: 25px;
}

.disclaimer {
  background-color: #1976D2;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  margin-bottom: 15px;
}

.disclaimerchord {
  background-color: #FFEE58;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  margin-bottom: 15px;
  display: none;
}

.electionbuttcontain {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vizbuttonscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  position: relative;
}

.filtercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40px;
}

.btnnavigate {
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
  background-color: white;
  border-color: #E0E0E0;
}

.butt-18 {
  font-size: 12px;
}

.btnnavigate:active, .btnnavigate:focus {
  background-color: #EEEEEE;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  background-color: #EEEEEE !important;
}

.btnnavigate:focus, .btnnavigate:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.filteritem {
  font-size: 13px;
}

.dropdown-item:active {
  background-color: #eee;
}

#mobiledrop {
  display: none;
}

#votesharedropdown {
  display: none;
}

#voteshareoptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 991.98px) {
  .disclaimer>.container, .disclaimer>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .disclaimerchord>.container, .disclaimerchord>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footercol>.container, .footercol>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .viz {
    padding: 5px;
  }

  #vizcontain {
    min-height: 0px;
  }

  .viz>.container, .viz>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .vizbuttonscontainer>.container, .vizbuttonscontainer>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .filtercontainer>.container, .filtercontainer>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }


  .btnnavigate {
    font-size: 11px;
    padding: 5px
}
  .electionbuttcontain {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .disclaimer {
    font-size: 12px;
  }
  .disclaimerchord {
    font-size: 11px;
  }
}

.liveTitle {
  font-size: 25px;
}

.liveBallot {
  width: 75px;
}

@media screen and (max-width: 560px) {
  .disclaimer {
    font-size: 12px;
    text-align: center;
  }

  .disclaimerchord {
    font-size: 11px;
    text-align: center;
  }

  .whitenav, .nav18 {
    height: 80px;
  }

  .whitenav>.container, .nav18>.container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .socialicons {
    display: none;
  }

  .liveBallot {
    width: 50px;
  }

  .liveTitle {
    font-size: 18px;
  }

  .naTitle {
    font-size: 14px;
  }

  #PA {
    display: none;
  }

  #mobiledrop {
    display: block;
  }

  #dropdownMenuLink {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
  }

  #dwvs {
    display: none;
  }

  #mobiledrop:hover {
    background-color: #EEEEEE;
  }

  #mobiledrop:focus,  #mobiledrop:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }

  .btnnavigate {
    background-color: white;
    color: black;
  }
}

@media screen and (max-width: 768px) {
  .whitenav {
    height: 80px;
  }

  .whitenav>.container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 468px) {
  .ballot {
    display: none;
  }
  .electlinkpast {
    margin-top: 10px;
  }
}

@media screen and (max-width: 375px) {
  .electlink {
    font-size: 11px;
  }
  .electlinkpast {
    font-size: 10px;
  }
}

/* D3 styling follows */

html, body {
  font-family: 'Roboto', sans-serif;
}

g.legendOrdinal text{
  font-family: sans-serif;
  font-size: 9px;
}

.tool {
  position: absolute;
  background-color: #eeeeee;
  color: #212121;
  z-index: 1000;
  padding: 15px;
  width: 250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.NA {
  font-size: 14px;
}

.dist {
  font-size: 13px;
}

.turnout {
  font-size: 12px;
  color: #757575;
}

.toolhead {
  grid-column: span 10;
}

.toolmfturnout {
  grid-column: span 12;
}

.partyColorToolBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
}

.partyicon {
  grid-column: span 2;
}

.nametitle {
  grid-column: span 7;
  font-size: 12px;
  color: #757575;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  border-bottom-color: #BDBDBD;
  margin-bottom: 5px;
}

.partytitle {
  grid-column: span 3;
  font-size: 12px;
  color: #757575;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  border-bottom-color: #BDBDBD;
  margin-bottom: 5px;
}

.voteTitle {
  grid-column: span 2;
  font-size: 12px;
  color: #757575;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid;
  border-bottom-color: #BDBDBD;
  margin-bottom: 5px;
}

.candidatename {
  grid-column: span 7;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 1px;
}

.partyname {
  grid-column: span 3;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #757575;
}

.votes {
  grid-column: span 2;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #757575;
}

.chordtool {
  position: absolute;
  color: #212121;
  background-color: white;
  display: -ms-grid;
  display: grid;
  padding: 15px;
  width: 175px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.party {
  grid-column: span 9;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cpartyicon {
  grid-column: span 3;
}

.chordtoolexpand {
  position: absolute;
  color: #212121;
  background-color: white;
  display: -ms-grid;
  display: grid;
  padding: 15px;
  width: 250px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.chordtoolheading {
  grid-column: span 6;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.vsparty {
  padding: 10px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.arrow {
  grid-column: span 2;
}

.chordexpandicon {
  grid-column: span 2;
  padding: 0px 10px;
}

.chordexpandinfo {
  grid-column: span 10;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer {
  padding: 50px;
}

.footerdesc {
  text-align: center;
}

.plotreename {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 767px) {
  #footer {
    padding: 50px 0px;
  }

  .plotreename {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .footerdesc {
    text-align: left;
  }
}

.cartogramtool {
  position: absolute;
  color: black;
  background-color: #EeEeEe;
  display: -ms-grid;
  display: grid;
  padding: 15px;
  z-index: 1000;
  width: 260px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.cartotoolhead {
  grid-column: span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
}

.cartotoolfooter {
  grid-column: span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
}

.cartotoolop {
  grid-column: span 12;
  font-size: 12px;
  font-weight: 600;
}

.cartotoolparty {
  grid-column: span 6;
  font-size: 12px;
  padding-top: 5px;
  margin-top: 5px;
  text-align: center;
  padding-bottom: 5px;
  color: white;
}

.cartotoolpartylogo {
  grid-column: span 6;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cartotoolpartydetail {
  grid-column: span 6;
  padding-bottom: 1px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.filterContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 725px) {
  .filtercontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}


.filterbutton {
  font-size: 13px;
  background-color: #1976D2;
}

.filterbutton:focus, .filterbutton:active {
  background: #1976D2;
  border-color: #1565C0;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.filterbutton:hover {
  background: #1565C0;
  border-color: #1565C0;
}

#partyFilters, #rangeFiltersTurnout, #rangeFiltersSeat {
  display: none;
}

#runnerUpPartyFilters {
  display: none;
}

#provinceFilters {
  display: none;
}

#rangeFilters {
  display: none;
}

.filterscontstantheight {
  min-height: 62px;
  position: relative;
  z-index: 1;
}

.vizcontain {
 display: inline-block;
 position: relative;
 width: 50%;
 padding-bottom: 60%; /* depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */

 vertical-align: middle; /* top | middle | bottom ... do what you want */
}


.map_in_a_box { /* svg into : object, img or inline */
  display: block;
  width: 100%; /* only required for <img /> */
}

.map_group { /* svg into : object, img or inline */
  display: block;
  width: 100%; /* only required for <img /> */
}

#infoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  font-size: 18px;
  color: #757575;
}

#infoPict {
  width: 120px;
  padding-right: 20px;
  border-right-color: #e0e0e0;
  border-right-width: 1px;
  border-right-style: solid;
}

#legendcontain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70px;
}

@media screen and (max-width: 585px) {
  #legendcontain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #infoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    font-size: 13px;
  }

  #infoPict {
    width: 75px;
    padding-right: 20px;
    border-right-color: #e0e0e0;
    border-right-width: 1px;
    border-right-style: solid;
  }
}

@media screen and (max-width: 450px) {
  .mobiletoolremove {
    display: none;
  }
  .NA {
    font-size: 12px;
  }
  .turnout {
    font-size: 11px;
  }
  .partyicon {
    width: 30px;
  }
  .cartotoolpartyhead {
    font-size: 11px;
  }
  .cartotoolparty {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .cartotoolpartylogo {
    height: 30px;
  }
  .cartotoolpartydetail {
    font-size: 11px;
  }
  #partyFilters, #runnerUpPartyFilters {
    font-size: 12px;
  }
}

@media screen and (max-width: 340px) {
  #partyFilters, #runnerUpPartyFilters {
    font-size: 10px;
  }
}

.youtubelink:hover, .youtubelink:focus {
  text-decoration: none;
}

/*d3 styling section 2 */
#legendcontain {
  padding-left: 150px;
  padding-right: 150px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.NAmap, .map_in_a_box {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.map_group_province, .circle-catcher, .pSeatCircle {
  will-change: transform;
}

.container-18 {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}

#viz2018,update2018 {
  padding: 0px;
}

#update2018 {
  text-align: center;
  height: 500px;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid;
  border-color: #eee;
}

.updatecircle {
  margin-right: 10px;
}

#test {
  display: none;
}

.updatetext {
  text-align: left;
  padding-right: 10px;
  font-family: 'Lato', sans-serif; font-weight: 300;
}

.leaders-18 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  position: relative;
}

@media screen and (max-width: 992px) {
  .container-18 {
    flex-direction: column;
  }
}

.highlightinfo {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

@media screen and (min-width: 992px) {
  .highlightinfo {
    text-align: left;
  }
}

#mfcontain {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.genderturnout {
  display: flex;
  align-items: flex-end;
  color: #757575;
}

.gendericon {
  width: 17.5px;
  height: 17.5px;
  margin-right: 5px;
}

.mfpercent {
  font-size: 12px;
}

.tdetail {
  font-size: 11px;
  color: #757575;
  margin-left: 3px;
}



@supports not ((display: -ms-grid) or (display: grid)) {
  .tool {
    display: inline-block;
  }

  .toolhead {
    width: 75%;
    float: left;
  }

  .toolmfturnout {
    width: 100%;
    float: left;
  }

  .partyicon {
    width: 25%;
    float: left;
  }

  .nametitle {
    width: 60%;
    float: left;
  }

  .partytitle {
    width: 20%;
    float: left;
  }

  .voteTitle {
    width: 20%;
    float: left;
  }

  .candidatename {
    width: 60%;
    float: left;
  }

  .partyname {
    width: 20%;
    float: left;
  }

  .votes {
    width: 20%;
    float: left;
  }

  .cartogramtool {
    display: inline-block;
  }

  .cartotoolparty {
    width: 50%;
    float: left;
  }

  .cartotoolpartylogo {
    width: 50%;
    float: left;
  }

  .cartotoolpartydetail {
    width: 50%;
    float: left;
  }

  .chordtool {
    display: inline-block;
  }

  .party {
    width: 75%;
    float: left;
  }

  .cpartyicon {
    width: 25%;
    float: left;
  }

  .chordtoolexpand {
    display: inline-block;
  }

  .vsparty {
    width: 25%;
    float: left;
    padding: 0px;
  }

  .chordtoolheading {
    width: 50%;
    float: left;
  }

  .chordexpandicon {
    width: 12.5%;
    float: left;
  }

  .chordexpandinfo {
    width: calc(87.5% - 20px);
    float: left;
  }

}

#hide2018 {
  display: none;
}

.timeupdateparent {
  display: flex;
  font-size: 14px;
  color: grey;
}

.leadTitle, .leaders-18 {
  font-family: 'Lato', sans-serif; font-weight: 300;
}

.leadTitle {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0px 65px;
  margin-top: 30px;
  border-top: 1px solid;
  border-color: #eee;
}

.leaderInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 215px;
}

.icon-details {
  display: flex;
}

.lead-18-logo {
  width: 50px;
  margin-right: 10px;
}

.partyTitle {
  font-size: 16px;
  text-align: left;
  margin-bottom: 0.5rem;
}

.leadSeats {
  font-size: 13px;
  text-align: left;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1300px) and (min-width: 994px) {
  .partyTitle {
    font-size: 14px;
  }

  .leadSeats {
    font-size: 12px;
  }

  .leaderInformation {
    width: 160px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1040px) {
  .lead-18-logo {
    width: 50px;
  }
}

@media screen and (max-width: 1040px) and (min-width: 994px) {
  .lead-18-logo {
    width: 45px;
  }
}

@media screen and (max-width: 380px) {
  .lead-18-logo {
    width: 50px;
  }
  .partyTitle {
    font-size: 14px;
  }

  .leadSeats {
    font-size: 12px;
  }

  .leaderInformation {
    width: 160px;
  }
}
