#plotreelogo {
  width: 100px;
}

#vizcontain {
  min-height: 600px;
}

#dropdownProvinceLink {
  display: none;
}

body {
  overflow-x: hidden;
}

.mobilenav {
  font-size: 11px;
  color: black;
  cursor: pointer;
}

.party_label {
  font-size: 13px;
}

.socicon {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.socicon:hover {
  color: #E53935;
}

.footsocicon {
  color: #FFEB3B;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.footsocicon:hover {
  color: #03A9F4;
}

.footlink {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  color: #FFEB3B;
}

.footlink:hover {
  color: #03A9F4;
}

.footlinkselect {
  color: #FFEB3B;
}

.footelect {
  margin-left: 5px;
}

.footelect:hover {
  margin-left: 10px;
}

@media screen and (max-width: 560px) {
  .party_label {
    font-size: 10px;
  }
  .footlink {
    font-size: 12px;
  }
}

.electlink {
  font-size: 14px;
  color: #757575;
  cursor: pointer;
}

.whitenav {
  box-shadow: 0 0px 20px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: 55px;
}

#vizcontain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ballot {
  height: 25px;
  width: 25px;
}

.disclaimer {
  background-color: #1976D2;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  margin-bottom: 15px;
}

.disclaimerchord {
  background-color: #FFEE58;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  margin-bottom: 15px;
  display: none;
}

.electionbuttcontain {
  flex-direction: row;
}

.vizbuttonscontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
}

.filtercontainer {
  display: flex;
  justify-content: center;
  min-height: 40px;
}

.btnnavigate {
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
  background-color: white;
  border-color: #E0E0E0;
}

.btnnavigate:active, .btnnavigate:focus {
  background-color: #EEEEEE;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  background-color: #EEEEEE !important;
}

.btnnavigate:focus, .btnnavigate:active {
  outline: none !important;
  box-shadow: none !important;
}

.filteritem {
  font-size: 13px;
}

.dropdown-item:active {
  background-color: #eee;
}

#mobiledrop {
  display: none;
}

#votesharedropdown {
  display: none;
}

#voteshareoptions {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 991.98px) {
  .disclaimer>.container, .disclaimer>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .disclaimerchord>.container, .disclaimerchord>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footercol>.container, .footercol>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .viz {
    padding: 5px;
  }

  #vizcontain {
    min-height: 0px;
  }

  .viz>.container, .viz>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .vizbuttonscontainer>.container, .vizbuttonscontainer>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .filtercontainer>.container, .filtercontainer>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }


  .btnnavigate {
    font-size: 11px;
    padding: 5px
}
  .electionbuttcontain {
    flex-direction: row;
  }
  .disclaimer {
    font-size: 12px;
  }
  .disclaimerchord {
    font-size: 11px;
  }
}

@media screen and (max-width: 560px) {
  .disclaimer {
    font-size: 12px;
    text-align: center;
  }

  .disclaimerchord {
    font-size: 11px;
    text-align: center;
  }

  .whitenav {
    height: 80px;
  }

  .whitenav>.container {
    align-items: center;
    justify-content: center;
  }

  .socialicons {
    display: none;
  }

  #PA {
    display: none;
  }

  #mobiledrop {
    display: block;
  }

  #dropdownMenuLink {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
  }

  #dwvs {
    display: none;
  }

  #mobiledrop:hover {
    background-color: #EEEEEE;
  }

  #mobiledrop:focus,  #mobiledrop:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .btnnavigate {
    background-color: white;
    color: black;
  }
}

/* D3 styling follows */

html, body {
  font-family: 'Roboto', sans-serif;
}

g.legendOrdinal text{
  font-family: sans-serif;
  font-size: 9px;
}

.tool {
  position: absolute;
  background-color: #eeeeee;
  color: #212121;
  display: grid;
  z-index: 1000;
  padding: 15px;
  width: 250px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.NA {
  font-size: 14px;
}

.dist {
  font-size: 13px;
}

.turnout {
  font-size: 12px;
  color: #757575;
}

.toolhead {
  grid-column: span 10;
}

.partyColorToolBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
}

.partyicon {
  grid-column: span 2;
}

.nametitle {
  grid-column: span 7;
  font-size: 12px;
  color: #757575;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  border-bottom-color: #BDBDBD;
  margin-bottom: 5px;
}

.partytitle {
  grid-column: span 3;
  font-size: 12px;
  color: #757575;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  border-bottom-color: #BDBDBD;
  margin-bottom: 5px;
}

.voteTitle {
  grid-column: span 2;
  font-size: 12px;
  color: #757575;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid;
  border-bottom-color: #BDBDBD;
  margin-bottom: 5px;
}

.candidatename {
  grid-column: span 7;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  padding-right: 1px;
}

.partyname {
  grid-column: span 3;
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  color: #757575;
}

.votes {
  grid-column: span 2;
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  color: #757575;
}

.chordtool {
  position: absolute;
  color: #212121;
  background-color: white;
  display: grid;
  padding: 15px;
  width: 175px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.party {
  grid-column: span 9;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.cpartyicon {
  grid-column: span 3;
}

.chordtoolexpand {
  position: absolute;
  color: #212121;
  background-color: white;
  display: grid;
  padding: 15px;
  width: 250px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.chordtoolheading {
  grid-column: span 6;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.vsparty {
  padding: 10px;
  transition: all 0.4s ease;
}

.arrow {
  grid-column: span 2;
}

.chordexpandicon {
  grid-column: span 2;
  padding: 0px 10px;
}

.chordexpandinfo {
  grid-column: span 10;
  font-size: 13px;
  display: flex;
  align-items: center;
}

#footer {
  padding: 50px;
}

.footerdesc {
  text-align: center;
}

.plotreename {
  align-self: center;
}

@media screen and (max-width: 767px) {
  #footer {
    padding: 50px 0px;
  }

  .plotreename {
    align-self: flex-start;
  }

  .footerdesc {
    text-align: left;
  }
}

.cartogramtool {
  position: absolute;
  color: black;
  background-color: #EeEeEe;
  display: grid;
  padding: 15px;
  width: 260px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.cartotoolhead {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
}

.cartotoolfooter {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
}

.cartotoolop {
  grid-column: span 12;
  font-size: 12px;
  font-weight: 600;
}

.cartotoolparty {
  grid-column: span 6;
  font-size: 12px;
  padding-top: 5px;
  margin-top: 5px;
  text-align: center;
  padding-bottom: 5px;
  color: white;
}

.cartotoolpartylogo {
  grid-column: span 6;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 45px;
  display: flex;
  justify-content: center;
}

.cartotoolpartydetail {
  grid-column: span 6;
  padding-bottom: 1px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.filterContain {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 725px) {
  .filtercontainer {
    flex-direction: column;
    align-items: center;
  }
}


.filterbutton {
  font-size: 13px;
  background-color: #1976D2;
}

.filterbutton:focus, .filterbutton:active {
  background: #1976D2;
  border-color: #1565C0;
  outline: none !important;
  box-shadow: none !important;
}

.filterbutton:hover {
  background: #1565C0;
  border-color: #1565C0;
}

#partyFilters {
  display: none;
}

#provinceFilters {
  display: none;
}

#rangeFilters {
  display: none;
}

.filterscontstantheight {
  min-height: 62px;
  position: relative;
  z-index: 1;
}

.vizcontain {
 display: inline-block;
 position: relative;
 width: 50%;
 padding-bottom: 60%; /* depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */

 vertical-align: middle; /* top | middle | bottom ... do what you want */
}


.map_in_a_box { /* svg into : object, img or inline */
  display: block;
  width: 100%; /* only required for <img /> */
}

.map_group { /* svg into : object, img or inline */
  display: block;
  width: 100%; /* only required for <img /> */
}

#legendcontain {
  display: flex;
  justify-content: center;
  min-height: 70px;
}

@media screen and (max-width: 585px) {
  #legendcontain {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .mobiletoolremove {
    display: none;
  }
  .NA {
    font-size: 12px;
  }
  .turnout {
    font-size: 11px;
  }
  .partyicon {
    width: 30px;
  }
  .cartotoolpartyhead {
    font-size: 11px;
  }
  .cartotoolparty {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .cartotoolpartylogo {
    height: 30px;
  }
  .cartotoolpartydetail {
    font-size: 11px;
  }
  #partyFilters {
    font-size: 12px;
  }
}

@media screen and (max-width: 340px) {
  #partyFilters {
    font-size: 11px;
  }
}

/*d3 styling section 2 */
#legendcontain {
  padding-left: 150px;
  padding-right: 150px;
  justify-content: space-around;
}
